.itemCard{
  height: 260px;
}

.scrolling-wrapper{
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.scrolling-card{
  display: inline-block;
}
