.backIcon{
  color: #37474f;
  height: 30px;
}

.inputLable{
  font-size: 15px;
}

.smallText{
  text-transform: capitalize;
  size: 15px;
  color: lightgrey;
  text-align: center;
}

.loginBtn{
  width: 100%;
  margin-top: 50px;
}

.loginIcons{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  text-align: center;
}

.orLoginWith{
  text-align: right;
  size: 15px;
  color: grey;
}
