<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button fill="clear" (click)="onBack()"><ion-icon class="backIcon" name="arrow-back-outline"></ion-icon></ion-button>
  </ion-buttons>
  <ion-title style="padding: 0"><b>MENU</b></ion-title>
</ion-toolbar>
<ion-content style="height: 100%">
  <ion-item *ngIf="logedIn">
    <ion-grid>
      <ion-row>
        <ion-col size="4" size-md="2" offset="4" offset-md="5">
          <ion-avatar style="height: 100%; width: 100%">
            <img src="{{userPhoto}}">
          </ion-avatar>
        </ion-col>
        <ion-col size="4" size-md="2" offset="4" offset-md="5" class="ion-text-center">
          <ion-text><b>{{username}}</b></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item style="margin-top: 50px" *ngIf="!logedIn; else myProfile">
    <ion-label style="outline: none" [routerLink]="['/login-sign-up']">
      <ion-icon name="person-outline"></ion-icon> Login/SignUp
    </ion-label>
  </ion-item>
  <ng-template #myProfile>
    <ion-item>
      <ion-label style="outline: none" [routerLink]="['/my-profile']">
        <ion-icon name="person-outline"></ion-icon> My Profile
      </ion-label>
    </ion-item>
  </ng-template>
  <ion-item>
    <ion-label style="outline: none">
      <ion-icon name="card-outline"></ion-icon> Order Histories
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label style="outline: none">
      <ion-icon name="call-outline"></ion-icon> Contact Us
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label style="outline: none">
      <ion-icon name="help-circle-outline"></ion-icon> Help
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label style="outline: none">
      <ion-icon name="settings-outline"></ion-icon> Settings
    </ion-label>
  </ion-item>
  <ion-grid style="margin-top: 100px">
    <ion-row>
      <ion-col size="4" size-md="2" offset="4" offset-md="5">
        <ion-button (click)="logout()" [routerLink]="['/login']" style="width: 100%" fill="outline" color="dark">LOGOUT</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
