<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button fill="clear" (click)="onBack()"><ion-icon class="backIcon" name="arrow-back-outline"></ion-icon><p style="color: #37474f"></p></ion-button>
  </ion-buttons>
  <ion-buttons slot="secondary">
    <ion-button [routerLink]="['/search']">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/cart']">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title style="padding: 0"><b>Girl Collection</b></ion-title>
</ion-toolbar>

<ion-content>

</ion-content>
