<ion-toolbar>
  <ion-buttons slot="start">
    <div>
      <ion-button fill="clear" (click)="onBack()"><ion-icon class="backIcon" name="arrow-back-outline"></ion-icon></ion-button>
    </div>
  </ion-buttons>
  <ion-title style="padding: 0"><b>Cart</b></ion-title>
  <ion-buttons slot="secondary">
    <ion-button *ngIf="!edit; else okIcon">
      <ion-icon name="pencil-sharp"></ion-icon>
    </ion-button>
    <ng-template #okIcon>
      <ion-button>OK</ion-button>
    </ng-template>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <div *ngIf="cartItems !== null; else emptyCart">
    <div *ngFor="let cartItem of cartItems" class="catItemDiv">
      <div *ngIf="!edit; else cartItemEditDiv">
        <ion-grid>
          <ion-row>
            <ion-col size="10" offset="1">
              <ion-item-divider>
                <ion-grid>
                  <ion-row>
                    <ion-col size="3">
                      <img src="{{cartItem.primaryMediaUrl}}">
                    </ion-col>
                    <ion-col size="9">
                      <ion-text><b>{{cartItem.cardTitle}}</b></ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item-divider>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ng-template #cartItemEditDiv>
        <div class="catItemDiv">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item-divider></ion-item-divider>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #emptyCart>
    <div style="width:100%;height:100%">
      <div style="width:100%;height:85%">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center" size="6" offset="3" style="margin-top: 200px">
              <ion-text>Nothing Here</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-grid style="bottom: 50px;">
        <ion-row>
          <ion-col class="ion-text-center" size="6" offset="3">
            <ion-button>SHOPPING</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-template>
</ion-content>
