<ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button [routerLink]="['/menu']" style="color: var(--ion-color-primary)" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
        <ion-button [routerLink]="['/search']">
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/cart']">
            <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title style="padding: 0"><b>CaShop</b></ion-title>
</ion-toolbar>
<ion-content>
    <div class="firstCollection">
        <div class="backgroundOpacity">
            <p class="firstCollectionText">MAN <br>COLLECTION</p>
        </div>
    </div>
    <div class="collections col1">
        <div class="backgroundOpacity">
            <p class="collectionsText">NEW ARRIVALS</p>
        </div>
    </div>
    <div class="collections col2">
        <div class="backgroundOpacity">
            <p class="collectionsText">BEST SELLER</p>
        </div>
    </div>
    <div class="collections col3">
        <div class="backgroundOpacity">
            <p class="collectionsText">WOMEN</p>
        </div>
    </div>
    <div class="collections col4">
        <div class="backgroundOpacity">
            <p class="collectionsText">MEN</p>
        </div>
    </div>
    <div class="collections col5">
        <div class="backgroundOpacity">
            <p class="collectionsText">KIDS</p>
        </div>
    </div>
</ion-content>
